<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>true facts.</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>true facts.</h1>

        <ul>
            {{#each facts}}
            <li>{{text}}</li>
            {{/each}}
        </ul>

    </body>
</html>